.work{
    background-color:#111430;
    text-transform: capitalize;  
} 
.work span {
    color: #7AB259;
}
.brcpxa{
    background-color:#FBD062 !important;
    height: 15px !important;
    width:15px  !important;
    box-shadow:none !important;
    margin:7px !important;

}
.ikyGAt{
    margin:10px !important;
}