.navbar img{
    height: 50px;
}
.navbar-nav li a {
    color: #474747 !important;
    font-weight: 500;
    text-transform: capitalize;
    margin-right:1.5rem;
}
.navbar-nav li a:hover {
    color: #474747;
}
.btn-custom{
    width: 134px;
    height: 45px;
    background: #111430;
    border-radius: 5px;
    color: white;
}
